.product__wrapper{
  background-color: #ee9ca7;
  padding: 100px 150px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: center;
  gap: 4rem;
  text-align: center;
  height: 1000px;
}
.product-image{
  width:12rem;
  height: 12rem;
  padding: 0px;
  margin: 0px;
}
.product-title{
  margin: 10px 0;
  font-size: 1.8rem;
  color: purple;
}
.product-description{
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.product-container{
  margin:  0;
}
@media screen and (max-width: 1160px) {
  .product__wrapper{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    gap: 1rem;
    height: inherit;
  }
  .product-container{
    width: 80%;
    margin-left:  2rem;
  }

}

@media screen and (max-width: 760px){
  .product__wrapper{
    display: block;
    width: 100%;
    padding: 50px;
    height: inherit;
    gap: 5rem;
    
  }
  .product-container{
    margin: 40px 0;
    width: 90%;
  }
  .product-title{
    font-size: 1.5rem;
  }
  .product-description{
    font-size: 1.1rem;
  }
 
}