.footer__container{
  background-color: #E31C79; 
  padding: 3rem 100px;
}
.footer-logo{
  width: 15rem;
  
}
.footer__row{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-content-title{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Circular Std', sans-serif;
  
}
.footer-link{
  text-decoration: none;
  color: purple;
  font-size: 1.1rem;
}
.footer-address{
  color: purple;
}

@media screen and (max-width:1150px) {
  .footer__container{
    padding: 2rem 200px;
  }
  
}
@media screen and (max-width: 760px) {
  .footer__row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__col{
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .footer__container{
    width: 100%;
    margin: 0;
    padding: 2rem 0;
  }
}