.hero__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 90px 100px;
  gap: 3rem;
  font-family: "Circular Std", sans-serif;
  background-color: #E31C79;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.tag__title{
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: 900;
  color: white;
}
.tag__description{
  font-size: 1.3rem;
  color: white;
  margin-bottom: 20px;
}
.tag{
  color: purple;
}
.tag__image{
  width: 450px;
}

.call__wrapper{
  display: flex; 
  width: 35rem;
  align-items: flex-start;
  color: pink;
  border-radius: 10px;
  margin-bottom: 8px;
}
.call__wrapper input{
  padding: 11px 20px;
  width: 25rem;
  border: 2px solid purple;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: pink;
  font-size: 15px;
  color: #D3CCE3;
}
.call__wrapper button{
  padding: 14px 20px;
  background-color: purple;
  border: none;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.tag__wrapper p{
  color:white;
  font-weight: 800;
}
.tag__wrapper p span{
  color: wheat;
}
@media screen and (min-width: 2000px) {
  .hero__container{
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 90px 200px;
    gap: 2rem;
    text-align: center;
  }
  .tag__image{
    width: 700px;   
  }
  .tag__title{
    font-size: 3.0em;
    margin-bottom: 2rem;
  }
  .tag__description{
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .tag__wrapper{
   
    width: 100%;
    margin: 0;
    padding: auto;
  }
  .call__wrapper{
    justify-content: center;
    margin: 10px auto;

  }
}

@media screen and (min-width: 1300px) {
  .hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 200px;
    height: 80vh;
    width: 100%;
    gap: 0rem;
  }
  .tag__image{
    width: 500px;
  }
  .tag__title{
    font-size: 2.5rem;
  }
  .tag__description{
    font-size: 1.4rem;
  }
}


@media screen and (max-width: 1160px){
  .hero__container{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding:40px 50px;
    height: 800px;
    gap: 1rem;
    text-align: center;
  }
  .tag__wrapper{
    
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .tag__image{
    width: 500px;
  }
  .tag__title{
    font-size: 2rem;
  }
  .tag__description{
    font-size: 1rem;
  }
  .call__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .call__wrapper input{
    border-radius: 10px;
    
  }
  .call__wrapper button{
    width: 25rem;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 480px) {
    .hero__container{
      gap: 2rem;
      padding: 10rem .5rem;
      height: inherit;
    }
     .tag__description br{
      display: none;
    }
    .tag__image{
      width: 80%;   
    }
  
    .tag__wrapper{
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 30px;
    }
    .call__wrapper{
      width: 100%;
      margin:  0 ;
      padding: 0;
    }
    .call__wrapper input{
      width: 90%;
    }
    .call__wrapper button{
      width: 90%;
    }
  }

}
