.contact__container{
  background-color: #FFC1CC;
  width: 100%;
  height: 400px;
  padding: 2rem ;
}
.call__container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ee9ca7;
  height: 300px;
  border-radius: 2rem;
  margin: 0rem 8rem;
}
.call-title{
  color: purple;
  margin-bottom: 1rem;
  font-family: 'Circular Std', sans-serif;
}
.call-span{
  color: white;
  font-weight: 600;
  font-style: italic;
}


@media screen and (max-width: 760px){
  .call__container{
    width: 100%;
    margin: 0;
    padding: 0;
 }
 .call-title{
  font-size: 1.3rem;
  padding-top: 20px;
 }
 .call__container p {
  margin-bottom: 20px;
 }
}
@media screen and (max-width: 480px) {
  .call__container{
    padding: 10px;
    text-align: center;
    
  }
 
}
