.benefits__container{
  background-color:#FFC1CC;
  padding: 100px 150px;
  gap: 4rem;
  text-align: center;
  height: 1350px;
}

.benefits__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  padding: 2rem 1rem;
  gap: 3rem;
}
.benefits-title{
  color: purple;
}
.benefit-title{
  margin-bottom: 1rem;
  font-family: 'Circular Std', sans-serif;
  color: purple;
}
.benefit-description{
  line-height: 1.8rem;
}
.call__container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ee9ca7;
  padding: 4rem 4rem;
  border-radius: 2rem;
  margin: 2rem 8rem;
}
.call-title{
  color: purple;
  margin-bottom: 1rem;
  font-family: 'Circular Std', sans-serif;
}
.call-span{
  color: white;
  font-weight: 600;
  font-style: italic;
}

@media screen and (max-width: 760px) {
 .benefits__container{
    width: 100%;
    padding: 50px 20px;
    height: inherit;
 }
 .benefits__wrapper{
  display: block;
  margin: 0px;
  
 }
 .benefit__wrapper{
  margin-top:50px; 
 }
 .call__container{
    width: 100%;
    margin: 0;
    padding: 0;
 }
 .call-title{
  font-size: 1.3rem;
  padding-top: 20px;
 }
 .call__container p {
  margin-bottom: 20px;
 }
}

@media screen and (max-width: 480px) {
  .call__container{
    padding: 10px;
  }
  .call__wrapper input{
    width: 18rem;
  }
  .call__wrapper button{
    width: 18rem;
  }
}
