.benefits__container{
  background-color:#ee9ca7; 
  padding: 100px 150px;
  gap: 4rem;
  text-align: center;
  height: 1000px;
}

.benefits__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  padding: 2rem 1rem;
  gap: 3rem;
}
.benefits-title{
  color: purple;
}
.benefit-title{
  margin-bottom: 1rem;
  font-family: 'Circular Std', sans-serif;
  color: purple;
}
.benefit-description{
  line-height: 1.8rem;
}

@media screen and (max-width: 1150px) {
  .benefits__container{
    height: inherit;
  }
}

@media screen and (max-width: 760px) {
 .benefits__container{
    width: 100%;
    padding: 50px 20px;
    height: inherit;
 }
 .benefits__wrapper{
  display: block;
  margin: 0px;
  
 }
 .benefit__wrapper{
  margin-top:50px; 
 }

}

